<h1>Datos del servidor</h1>
<ul>
    <li>Argumentos de entrada {{argumentosEntrada}}</li>
    <li>Nombre de plataforma {{nombrePlataforma}}</li>
    <li>nodeJSVersion {{nodeJSVersion}}</li>
    <li>memoriaReservada {{memoriaReservada}}</li>
    <li>pathEjecucion {{pathEjecucion}}</li>
    <li>processID {{processID}}</li>
    <li>carpetadeProyecto {{carpetadeProyecto}}</li>
    <li>numerodeProcesadores {{numerodeProcesadores}}</li>
</ul>